body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  display: flex;
  border: solid 1px black;
  gap: 4%;
  padding: 0% 2%;
}

header :first-of-type {
  font-family: 'Montserrat';
  font-size: 30px;
}
header :nth-of-type(2) {
  margin-left: auto;
}

header>button {
  border: none;
  background-color: white;
  padding: 20px 10px;
  font-family: 'Montserrat';
  font-size: 20px;
}

header>button:hover {
  font-weight: 700;
}

.projectBoard {
  padding: 1%;
  width: min(700px, 100%);
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
}

.project {
  display: flex;
  border: solid 0.5px black;
  flex-direction: column;
  align-items: center;
  height: 200px;
  overflow: scroll;
  padding: 5% 5%;
  gap: 10%;
}

.project:hover {
  background-color: lightgray;
}

.project>* {
  margin: 0px;
}

.project>img {
  width: 64px;
  height: auto;
}

.project>p {
  text-align: center;
}

* {
  font-family: 'Montserrat';
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

